<h1>Haco どこ？</h1><br><br><br>
<h2>出品場所一覧 （エリア: １高松市、２東讃、３中讃、４西讃、５島エリア）</h2><br>


  <table class="list">
  <thead>
    <tr>
      <th>画像</th>
      <th>Spot No.</th>
      <th>エリアno.</th>
      <th>スポット名</th>
      <th>住所</th>
      <th>詳細</th>
      

    </tr>
  </thead>
  <tbody>

<% if @spots.present? %>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= image_tag spot.image.variant(resize: '90x90'), class: 'item-image' if spot.image.attached? %></td>
        <td><%= spot.id%></td>
        <td><%= spot.area_id %></td>
        <td><%= spot.spot_name %></td>
        <td><%= spot.address %></td>
        <td><%= link_to '詳細', spot_path(spot.id), method: :get %></td>
      </tr>
    <% end %> 
  <% end %>
  </tbody>
  </table>
  <br>

  <div>
  
  </div>
