<h1> 箱設置場所 新規投稿フォーム </h1><br>

 <%= form_with(model: @spot, local: true) do |f| %>

       <div class="weight-bold-text">
       (1) 設置場所名（店名、農場名、場所名）
        <span class="indispensable">必須</span>
      </div><br>
     <p>
      <%= f.text_area :spot_name, class:"items-text", id:"item-name", placeholder:"設置場所名（店舗、農場名など）（必須 40文字まで)", maxlength:"40" %>
     </p> 
   </div><br>
    <div class="weight-bold-text">
     (2) 設置場所のエリア（選択してください） <span class="indispensable">必須</span><br><br>
          <p>  
            <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"area-select"}) %>
          </p>
     <br>
    <%# 設置場所の画像 %>
  <div class="new-items">
    <div class="img-upload">
      <div class="weight-bold-text">
        (3) 設置場所の画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
         ** クリックしてファイルをアップロード（拡張子が「.png」または「.jpeg」の画像を投稿してください。**
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
  </div>
   
    <div>
         <div class="weight-bold-text">
          <label class="form-text">(4) 郵便番号</label>
          <span class="indispensable">必須</span>
        </div><br>
        <%= f.text_field :postal_code, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
      </div><br>
  
     <div>
       <div class="weight-bold-text">
        (5) 設置場所の住所
        <span class="indispensable">必須</span>
      </div><br>
        <p>
          <%= f.text_area :address, class:"items-text", id:"item-name", placeholder:"設置場所の住所（必須 40文字まで)", maxlength:"40" %>
        </p> 
     </div>
       <div class="weight-bold-text">
        (6) 設置場所の建物名（ビル名などあれば記入）：任意
      </div><br>
        <p>
          <%= f.text_area :building, class:"items-text", id:"item-name", placeholder:"ビルなどの建物名（ある場合記入：40文字まで)", maxlength:"20" %>
        </p> 
     </div><br>

     <div>
       <div class="weight-bold-text">
         (7) 連絡先（電話番号）
        <span class="indispensable">必須</span>
      </div>
    <p>
      <%= f.text_area :phone_number, class:"items-text", id:"item-name", placeholder:"電話番号（必須 ハイフンなし、半角１０−１１文字)", maxlength:"11" %>
     </p> 
    </div><br>

   
  <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "箱設置場所を投稿",class:"sell-btn" %>
     </div><br>
      
    <div class="sell-btn-contents">
     <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  <% end %>


