<h1>Haco ここ</h1><br><br>
<h2>出品された箱についての情報</h2><br>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

<ul>
<% @events.each do |event| %>
<li>
 <div class="box col3" style="background-image">
  <a href="#">
        <%= image_tag("image_yasai_1", alt: "event.event_id")%>
        <div class="category"><%= event.event_title %></div><br>
          設置終了:<%= event.end_time %>
</li>
    <% end %>
 </ul>
</div>

<div>
以下、ダミーBOX
</div>
<div class="box col5">
   <a href="#">
  <%= image_tag("image_L_1.jpg", alt: "HOT TOPICS")%>
  <div class="category">HOT TOPICS</div>
  <p class="description">Lorem ipsum dolor sit amet, 
  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
 </a>
</div>

<div class="box col5">
   <a href="#">
  <%= image_tag("image_M_4.jpg", alt: "HOT TOPICS")%>
  <div class="category">HOT TOPICS</div>
  <p class="description">Lorem ipsum dolor sit amet, 
  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
 </a>
</div>

   <div class="box col2">
    <a href="#">
    <%= image_tag("image_S_1.jpg", alt: "HOT TOPICS")%>
    <div class="category">HOT TOPICS</div>
    <p class="description">Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. </p>
    </a>
    </div>
 
<div class="box col2">
   <a href="#">
  <%= image_tag("image_S_2.jpg", alt: "HOT TOPICS")%>
  <div class="category">HOT TOPICS</div>
  <p class="description">Lorem ipsum dolor sit amet, 
  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
 </a>
</div>

 <div class="box col1">
    <a href="#">
      <%= image_tag("image_S_7.jpg", alt: "HOT TOPICS")%>
      <div class="category">HOT TOPICS</div>
      <p class="description">Lorem ipsum dolor sit amet... </p>
    </a>
  </div>

 <div class="box col1">
    <a href="#">
      <%= image_tag("image_S_8.jpg", alt: "HOT TOPICS")%>
      <div class="category">HOT TOPICS</div>
      <p class="description">Lorem ipsum dolor sit amet... </p>
    </a>
  </div>

 <div class="box col1">
    <a href="#">
      <%= image_tag("image_S_5.jpg", alt: "HOT TOPICS")%>
      <div class="category">HOT TOPICS</div>
      <p class="description">Lorem ipsum dolor sit amet... </p>
    </a>
  </div>

<div class="box col1">
   <a href="#">
  <%= image_tag("image_S_6.jpg", alt: "HOT TOPICS")%>
  <div class="category">HOT TOPICS</div>
  <p class="description">Lorem ipsum dolor sit amet... </p>
 </a>
</div>

  <div class="box col1">
    <a href="#">
    <%= image_tag("image_S_9.jpg", alt: "HOT TOPICS")%>
    <div class="category">HOT TOPICS</div>
    <p class="description">Lorem ipsum dolor sit amet... </p>
    </a>
  </div>

  <div class="box col1">
    <a href="#">
      <%= image_tag("image_S_8.jpg", alt: "HOT TOPICS")%>
      <div class="category">HOT TOPICS</div>
      <p class="description">Lorem ipsum dolor sit amet... </p>
    </a>
  </div>


  <div class="box col2">
    <a href="#">
    <%= image_tag("image_S_10.jpg", alt: "HOT TOPICS")%>
    <div class="category">HOT TOPICS</div>
    <p class="description">Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. </p>
   </a>
  </div>

  <div class="box col2">
    <a href="#">
    <%= image_tag("image_S_2.jpg", alt: "HOT TOPICS")%>
    <div class="category">HOT TOPICS</div>
    <p class="description">Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. </p>
    </a>
    </div>

    <div class="box col5">
    <a href="#">
    <%= image_tag("image_M_1.jpg", alt: "HOT TOPICS")%>
    <div class="category">HOT TOPICS</div>
    <p class="description">Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. </p>
   </a>
  </div>

  <div class="box col5">
      <a href="#">
      <%= image_tag("image_M_2.jpg", alt: "HOT TOPICS")%>
      <div class="category">HOT TOPICS</div>
      <p class="description">Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. </p>
    </a>
  </div>
  
    <div class="box col2">
      <a href="#">
      <%= image_tag("image_S_2.jpg", alt: "HOT TOPICS")%>
      <div class="category">HOT TOPICS</div>
      <p class="description">Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. </p>
    </a>
    </div>

    <div class="box col2">
        <a href="#">
        <%= image_tag("image_S_2.jpg", alt: "HOT TOPICS")%>
        <div class="category">HOT TOPICS</div>
        <p class="description">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. </p>
      </a>
    </div>
  

    <div class="box col3">
        <a href="#">
        <%= image_tag("image_S_3.jpg", alt: "HOT TOPICS")%>
        <div class="category">HOT TOPICS</div>
        <p class="description">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. </p>
      </a>
    </div>

  <div class="box col1">
        <a href="#">
        <%= image_tag("image_S_1.jpg", alt: "HOT TOPICS")%>
        <div class="category">HOT TOPICS</div>
        <p class="description">Lorem ipsum dolor sit amet... </p>
      </a>
    </div>

    <div class="box col4">
      <a href="#">
      <%= image_tag("image_M_3.jpg", alt: "HOT TOPICS")%>
      <div class="category">HOT TOPICS</div>
      <p class="description">Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. </p>
      </a>
   </div>

    <div class="box col5">
        <a href="#">
        <%= image_tag("image_M_4.jpg", alt: "HOT TOPICS")%>
        <div class="category">HOT TOPICS</div>
        <p class="description">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. </p>
      </a>
    </div>

</div>

<footer class="footer">
  <ul class="horizontal-list">
      <li class="horizontal-item"><a href="#">ABOUT US</a></li>
      <li class="horizontal-item"><a href="#">SITE MAP</a></li>
      <li class="horizontal-item"><a href="#">SNS</a></li>
      <li class="horizontal-item"><a href="#">CONTACT</a></li>
  </ul>
</footer>